.bigger {
    font-size: 1.1em;
    color: black;
}
.navbar {
    background-color: white;
}
.active {
  background-color: #EEEEEE;
}
.myblackfont {
	color:	black;
	font-size: 1.1em;
}
.mybluefont {
	color:	blue;
}
